{
    "rules": {
        "padded-blocks": 0,
        "no-multiple-empty-lines": 0,
        "no-trailing-spaces": 0,
        "no-new": 0,
        "no-return-assign": 0,
        "indent": ["error", 4]
    },
    "globals": {
        "fetch": true,
        "FormData": true,
        "DOMParser": true,
        "DocumentFragment": true,
        "localStorage": true,
        "ejs": true
    }
}